---
import LayoutSingle from "@/layouts/LayoutSingle.astro"
import Render   from "@/components/Content/Render.astro"
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const allElements = document.querySelectorAll("html *");
    allElements.forEach((element) => {
      if (["H1", "H2", "H3"].includes(element.tagName) && element.id) {
        element.innerHTML = `<a href="#${element.id}" style="text-decoration: none; color: inherit; display: inline-flex; align-items: center;">${element.innerHTML}</a>`;
        const style = document.createElement("style");
     
        document.head.appendChild(style);
        element.addEventListener("click", () => {
          window.location.hash = element.id;
        });
      }
    });
  });
</script>

<LayoutSingle>
  <Render/>
</LayoutSingle>