---
import "../styles/layoutSingle.scss"
import LinkItem from "@/components/Navbar/LinkItem.svelte"
import List from "@/components/Navbar/List.svelte"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" />
    <meta name="generator" content={Astro.generator} />
    <title>ABD</title>
  </head>
  <body>
    <main>
    <div class="current-heading" id="current-heading"></div>
    <div class="container">
      <slot />
    </div>
    <div class="nav">
      <List client:load>
        <LinkItem label="Doc 1" client:load />	
        <LinkItem label="CS161 - Notes 2 Review Sheet" client:load />	
        <List client:load>
          <LinkItem label="Basic Data Structures" client:load />	
          <LinkItem label="Arrays" client:load />	
          <LinkItem label="Dynamic Arrays" client:load />	
          <LinkItem label="Linked List" client:load />	
          <LinkItem label="Searching in a Sorted Array (Binary Search)" client:load />	
        </List>	
        <LinkItem label="CS161 - Notes 2 Review Sheet" client:load />	
      </List>
    </div>
    </main>
  </body>
</html>
