---
import "../styles/global.scss"
import "../styles/layout.scss"
import LinkItem from "@/components/Navbar/LinkItem.svelte"
import List from "@/components/Navbar/List.svelte"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" />
		<meta name="generator" content={Astro.generator} />
		<title>ABD</title>
	</head>
	<body>
		<div class="layout">
			<navbar>
				<List>
					<List>
						<LinkItem label="Doc 1"/>	
						<LinkItem label="CS161 - Notes 2 Review Sheet"/>	
					</List>	
				</List>	
			</navbar>
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>

