---
import "../styles/layoutSingle.scss"
import "../styles/tailwind.css"
import Navlist from "../components/Navbar/Navlist.svelte"
import Icon from "../components/Icons/Icon.svelte"
const { frontmatter } = Astro.props;
---
<script>
document.addEventListener("DOMContentLoaded", () => {
    const allElements = document.querySelectorAll("html *");
    allElements.forEach((element) => {
      if (["H1", "H2", "H3"].includes(element.tagName) && element.id) {
        element.innerHTML = `<a href="#${element.id}" style="text-decoration: none; color: inherit; display: inline-flex; align-items: center;">${element.innerHTML}</a>`;
        const style = document.createElement("style");
     
        document.head.appendChild(style);
        element.addEventListener("click", () => {
          window.location.hash = element.id;
        });
      }
    });
  });
  window.addEventListener('hashchange', () => {
    console.log('URL hash changed to: ' + window.location.hash);
  });
</script>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter?.title !== null ? frontmatter.title : "ABD"}</title>
  </head>
  <body>
    <main class="flex flex-col items-center relative">
      <Navlist client:load page={frontmatter.title}/>
      <navbar class="sticky top-0 flex w-full px-4 py-2">
        <a href="/">
          <Icon name="home" size={30}/>
        </a>
      </navbar>
      <div class="w-[60%]">
        <slot />
      </div>
    </main>
  </body>
</html>
