---
import "../styles/layoutSingle.scss"
import "../styles/tailwind.css"
import Icon from "../components/Icons/Icon.svelte"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" />
    <meta name="generator" content={Astro.generator} />
    <title>ABD</title>
  </head>
  <body>
    <main class="flex flex-col items-center relative">
      <navbar class="sticky top-0 flex w-full px-4 py-2">
        <a href="/">
          <Icon name="home" size={30}/>
        </a>
      </navbar>
      <div class="w-[60%]">
        <slot />
      </div>
    </main>
  </body>
</html>
