---
import "../styles/layoutSingle.scss"
import Icon from "../components/Icons/Icon.svelte"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" />
    <meta name="generator" content={Astro.generator} />
    <title>ABD</title>
  </head>
  <body>
    <main>
    <navbar>
    <a href="/">
      <Icon name="home" size={30}/>
    </a>
    </navbar>
    <div class="container">
      <slot />
    </div>

    </main>
  </body>
</html>
